<a href="https://colab.research.google.com/github/revati2013/Assignment03_hypothesis_testing/blob/main/Hyothesis_testing_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1.A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
data=pd.read_csv('Cutlets.csv')

In [3]:
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
stats.ttest_rel(data["Unit A"], data["Unit B"])

Ttest_relResult(statistic=0.7536787225614323, pvalue=0.45623007680384076)

In [5]:
stats.ttest_ind(data["Unit A"], data["Unit B"])

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [6]:
stats.shapiro(data["Unit A"])

(0.9649458527565002, 0.3199819028377533)

In [7]:
stats.shapiro(data["Unit B"])

(0.9727300405502319, 0.5224985480308533)